.texts {
  text-align: left;
}
.icons {
  background-color: white !important;
  outline: 1px;
}
.icons:hover {
  background-color: white !important;
}

.done {
  background-color: #80e27e !important;
}

.done > * {
  color: white !important;
}
