.texts {
  text-align: left;
}
.icons {
  background-color: white !important;
  outline: 1px;
  transition: 0.3s;
}
.icons.hover:hover {
  background-color: rgb(216, 216, 216) !important;
}

.done {
  background-color: #80e27e !important;
}

.done > * {
  color: white !important;
}
.task:hover {
  transform: scaleY(1);
}

@media (max-width: 767px) {
  .task {
    flex-direction: column;
  }
  .task .texts {
    text-align: center;
    margin-bottom: 10px;
  }
}
