.texts {
  text-align: center;
}
.icons {
  background-color: white !important;
  outline: 1px;
  transition: 0.3s;
}
.icons.hover:hover {
  background-color: rgb(216, 216, 216) !important;
}

.done {
  background-color: #80e27e !important;
}

.done > * {
  color: white !important;
}
.task {
  transition: 0.3s;
}
.task:hover {
  box-shadow: 0px 2px 8px 0px black;
}
