.tasks-list {
  overflow-y: auto;
  margin: 20px auto 10px;
  height: 350px;
  overflow-y: scroll;
  width: 100%;
  /* Webkit browsers (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #64b5f6 #f1f1f1;
}
@media (max-width: 600px) {
  .tasks-list {
    margin: 10px auto;
  }
}
