.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 15px;
    margin: 10px;
    width: 80% !important;
  }
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Black.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-ExtraBold.ttf");
  font-weight: 900;
}
