.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  min-height: 600px;
  text-align: center;
}

@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Black.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Work-sans;
  src: url("./public/fonts/WorkSans-ExtraBold.ttf");
  font-weight: 900;
}
